/*SITIOS*/
*{
    text-align: center;
	background-color: #3399ff;
	
}

nav{
	text-align: right;
	padding: 30px 50px 0 0;
}

nav a{
	color: black;
	font-weight: 800;
	text-decoration: none;
	margin-right: 10px;
	font-size: 30px;
}

