/* header*/

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: right;
    padding: 2%;
}

button {
    background-color: #af20d3;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
	text-align: right;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

header{
	width: 100%;
	position: relative;
	display: flexbox;
}

.barra-navegacion{
	display: flex;
	justify-content:center;
}

.logo{
	width: 10%;
	height: auto;
	padding-top: 1%;
}

nav{
	text-align: right;
	height: auto;
	padding-top: 5%;
}

nav a{
	font-weight: 800;
	text-decoration: none;
	margin-right: 10px;
	font-size: 20px;
}

/*body*/

.titulo{
	text-align: center;
	margin: 3% 10% 0% 10%;
}

li{
	text-align: center;
}

.card{
	margin-top: 5%;
	margin-bottom: 5%;
}


/*FOOTER*/

footer{
	background-color: #8F7CEC;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	border-bottom: 1px solid #8F7CEC;
}

.content-footer{
	text-align: center;
	margin: 1% 10% 1% 10%;
}

.content-footer h4{
	color: black;
	border-bottom: 3px solid #af20d3;
}

.content-footer p{
	color: black;
}

.titulo-final{
	color: black;
	text-align: center;
	font-size: 24px;
}

/* Media Query para pantallas más pequeñas (ej. tablets) */
@media only screen and (max-width: 768px) {
    .logo {
        width: 20%; 
    }

    .barra-navegacion {
        justify-content: space-evenly; 
    }

    nav a {
        margin-right: 5px; 
        font-size: 18px; 
    }

   
}

/* Media Query para pantallas aún más pequeñas (ej. smartphones) */
@media only screen and (max-width: 480px) {
    .logo {
        width: 30%;
    }

    .barra-navegacion {
        flex-direction: column; 
        align-items: center; 
    }

    nav a {
        margin-right: 0; 
        font-size: 16px; 
    }

    
}