*{
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: nerko one;*/
}

.logo{
	/*z-index:0;*/
	background-image:url("img/ojoj_de_sauron.png");
	padding-left:auto;
	padding-right:auto;
	width:auto;
	height:auto;
}

.comentarios{
	color:#a0ebfa;
	text-shadow: 2px 2px 2px rgb(1, 59, 95);
	padding-left:15%;
    font-size: larger;
}
.desplegables{
	background-color: #262626;
	color:#ccdaf6;
	font-size: large;
}

.crypto-nav-cont{
	display: grid;
	/*grid-template-columns:fit-content(90%);/*)auto ;/*repeat(2,4fr);*/
	grid-template-columns: repeat(3,3fr);
	color: #1c1919;
	justify-content: stretch;
	margin-left: 15%;
	margin-right:15%;
	/*margin-top:1%;*/

}
.crypto-nav{

    background-color: rgb(0, 52, 241);
    border-color:rgb(24, 128, 255) ;
	/*text-decoration-color: #000000;*/
	text-align: match-parent;
	color:#ffffff;
	text-shadow: 2px 2px 2px rgb(0, 0, 0);
	padding: 1%;
	border-radius: 8%;
	/*scroll-snap-type: x proximity;*/

}
.barra{
	background-color: #ee2222;
}
.carta{
	background-color: #1c1919;
margin-left: 15%;
margin-right: 15%;
margin-top: 1%;

}

.icon-crypto-nav{
    width:30px; 
    /*height:30px;*/
text-align: center;
}

.contenedor-cartas{
	background-color: #1c1919;
	margin-left: 15%;
	margin-top: 1%;
}

.fondo-general{
	background-color: #1c1919;
}




.contenedor_principal{
	padding: 60px 0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
    background-color: #0b0a0a;
}

.regresiva{
	padding-left:10%;
text-align: right;

}
.contenedor{
	padding: 60px 0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
    background-color: #1c1919;
}

.titulo{
	color: rgb(0, 0, 0);
	font-size: 40px;
	text-align: center;
	margin-bottom: 60px;
}

/*HEADER*/

header{
	width: 100%;
	height: 15%;
	/*position: relative;*/
	background-color: #262626;
}

nav{
	text-align: right;
	padding: 30px 50px 0 0;
}

nav a{
	color: #a0d5fe;
	font-weight: 800;
	text-shadow: 2px 2px 2px rgb(18, 84, 251);
	text-decoration:none ;
	margin-right: 10px;
	font-size: 30px;
}

header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.comentarios2{
	color:#a0ebfa;
	text-shadow: 2px 2px 2px rgb(1, 59, 95);
	font-size: larger;
}
.textos-header h1{
	font-size: 30px;
	font-weight: 300;
    color: black;
}

.slider img{
	width: 100px;
	height: 100px;
}

/*SOBRE NOSOTROS*/

.contenedor-temas{
	display: flex;
	justify-content: space-evenly;
}

.imagen-grupal{
	width: 48%;
}

.sobre-nosotros .contenido-textos{
	width: 48%;
}

.contenido-textos h3{
	margin-bottom: 15px;
	padding: 5px;
}
body{
	background-color: #1c1919;
	z-index:0;
}
.contenido-textos h3 span{
	background: #4d0686;
	color: rgb(16, 13, 13);
	border-radius: 50%;
	display: inline-block;
	text-align: center;
	width: 30px;
	height: 30px;
	padding: 2px;
	margin-right: 5px;
}

.contenido-textos p{
	padding: 0 0 30px 15px;
	font-weight: 300;
	text-align: justify;
}

/*EXCHANGE*/

.galeria-port{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.galeria-port p{
	color: rgb(136, 12, 12);
}

.imagen-port{
	width: 24%;
	margin-bottom: 10px;
	height: 150px;
	overflow: hidden;
	position: relative;
	cursor: pointer;
}

.imagen-port img{
	padding: 10px;
	border-color: #414141;
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
}

.zoom:hover{
    transform: scale(1.5);
}


/*CLIENTES*/

.cards{
	display: flex;
	justify-content: space-evenly;
}

.cards .card{
	background: #cf88ff;
	display: flex;
	width: 46%;
	height: 200px;
	justify-content: space-evenly;
	border-radius: 5px;
}

.cards .card img{
	width: 100px;
	height: 100px;
	object-fit: cover;
	border: 3px solid rgb(16, 11, 11);
	border-radius: 50px;
	display: block;
}

.cards .card  .contenido-texto-card{
	width: 60%;
	color: rgb(12, 10, 10);
}

.cards .card  .contenido-texto-card p{
	font-weight: 300;
	padding-top: 5px;
}

/*NUESTRO EQUIPO*/

.quienes-somos{
	background: rgb(173, 167, 167);
	padding: 30px;
}

.contenedor-quienes-somos{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.servicio-ind{
	width: 28%;
	text-align: center;
}

.servicio-ind img{
	padding: 10px;
	margin: auto;
	width: 250px;
	height: 200px;
}

.servicio-ind h3{
	color: rgb(56, 110, 110);
	margin: 10px 0;
}

.servicio-ind p{
	color:rgb(0, 0, 0) ;
	margin: auto;
	font-size: medium;
	text-align: center;
}

/*FOOTER*/

footer{
	background: #414141;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

.content-footer{
	text-align: center;
}

.content-footer h4{
	color: white;
	border-bottom: 3px solid #af20d3;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.content-footer p{
	color: rgb(0, 0, 0);
}

.titulo-final{
	color: rgb(18, 16, 16);
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
}

/* Pagina Portafolio*/

h1{
	color: #77cdff;
	text-shadow: 2px 2px 2px rgb(39, 43, 47);
	text-align: center;
	
}
