*{
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: #1c1919;
	z-index:0;
}

.logo{
	width: 10%;
	height: auto;
}

h1{
	color: #77cdff;
	text-shadow: 2px 2px 2px rgb(39, 43, 47);
	text-align: center;
}

.comentarios{
	color:#a0ebfa;
	text-shadow: 2px 2px 2px rgb(1, 59, 95);
	padding-left:15%;
    font-size: larger;
}
.desplegables{
	background-color: #262626;
	color:#ccdaf6;
	font-size: large;
}

.crypto-nav-cont{
	display: grid;
	grid-template-columns: repeat(3,3fr);
	color: #1c1919;
	justify-content: stretch;
	margin-left: 15%;
	margin-right:15%;

}

.crypto-nav{
	background-color: rgb(0, 52, 241);
    border-color:rgb(24, 128, 255) ;
	text-align: match-parent;
	color:#ffffff;
	text-shadow: 2px 2px 2px rgb(0, 0, 0);
	padding: 1%;
	border-radius: 8%;
}

.barra{
	background-color: #ee2222;
}

.carta{
	background-color: #1c1919;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 1%;
}

.icon-crypto-nav{
    width:30px; 
	text-align: center;
}

.contenedor-cartas{
	background-color: #1c1919;
	margin-left: 15%;
	margin-top: 1%;
}

.fondo-general{
	background-color: #1c1919;
}

.contenedor_principal{
	padding: 60px 0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
    background-color: #0b0a0a;
}

.regresiva{
	padding-left:10%;
	text-align: right;
}

.contenedor{
	padding: 60px 0;
	width: 100%;
	max-width: 1000px;
	margin: auto;
	overflow: hidden;
    background-color: #1c1919;
}

.titulo{
	color: rgb(0, 0, 0);
	font-size: 40px;
	text-align: center;
	margin-bottom: 60px;
}

/*HEADER*/

nav{
	text-align: right;
	height: auto;
	padding-top: 1%;
}

nav a{
	color: #a0d5fe;
	font-weight: 800;
	text-shadow: 2px 2px 2px rgb(18, 84, 251);
	text-decoration:none ;
	margin-right: 10px;
  font-size: 30px;
	font-size: 20px;
}

header .textos-header{
	display: flex;
	height: 430px;
	width: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;
}

.comentarios2{
	color:#a0ebfa;
	text-shadow: 2px 2px 2px rgb(1, 59, 95);
	font-size: larger;
}
.textos-header h1{
	font-size: 30px;
	font-weight: 300;
    color: black;
}

/*FOOTER*/

footer{
	background-color: #8F7CEC;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer{
	display: flex;
	width: 90%;
	justify-content: space-evenly;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #8F7CEC;
}

.content-footer{
	text-align: center;
}

.content-footer h4{
	color: black;
	border-bottom: 3px solid #af20d3;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.content-footer p{
	color: black;
}

.titulo-final{
	color: black;
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
}
