* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* HEADER */

body {
    font-family: Arial, sans-serif;
    transition: background-color 0.5s, color 0.5s;
}

.container {
    text-align: right;
    padding: 2%;
}

button {
    background-color: #af20d3;
    color: #fff;
    border: none;
    padding: 5px 20px;
    cursor: pointer;
    border-radius: 5px;
	text-align: right;
}

.dark-mode {
    background-color: #333;
    color: #fff;
}

header{
	width: 85%;
	position: relative;
	display: flex;
}

.barra-navegacion{
	display: flex;
	justify-content: space-evenly;
}
.logo{
	width: 70%;
	height: 80%;
	padding-top: 10%;
	padding-left: 30%;
}

nav{
	text-align: right;
	height: auto;
	padding-top: 5%;
}

nav a{
	font-weight: 800;
	text-decoration: none;
	margin-right: 10px;
	font-size: 30px;
}

/*MAIN*/

.titulo {
	text-align: start;
	font-size: 1.5rem;
	width: 100%;
	padding-left: 10rem;
}

h3 span {
	color: rgb(78, 78, 78);
	font-weight: 300;
}

.contenedor-tema {
	display: flex;
	padding: 20px;
	width: 100%;
	justify-content: center;
	flex: 1 1 auto;
}

.contenedor-padre {
	display: flex;
	flex-flow: column nowrap;
	column-gap: 5px;
	padding: 20px;
	border-radius: 5%;
	border: 2px solid black;
	background-color: #87e1c7;
	width: 80%;
}

.contenedor-hijo {
	margin: 10px;
	padding: 10px;
	background-color: #339476;
	border-radius: 1.25rem;
}

.highlights-padre {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 20px;
	border: 1px solid black;
	border-radius: 1.25rem;
	background-color: #59b8ff;
}

/*INFO DESTACADA*/

.highlights-hijo {
	border: 2px solid #af20d3;
	padding: 5px;
	margin: 5px;
	width: 30%;
}

.highlights-hijo h3 {
	margin-bottom: 1.5rem;
	padding: 0 0.25rem;
}

.highlights-hijo div {
	display: flex;
	box-sizing: border-box;
	justify-content: space-between;
	align-items: center;
}

.detalle1 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
}

.detalle1 span {
	margin: 0 0.25rem;
	font-style: italic;
}

.Visual {
	display: inline-flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	height: 100%;
}

.Visual img {
	margin-right: 0.4rem;
}

/*CRIPTOMONEDAS*/

.detalle2 {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.CriptoHeader {
	display: flex;
	align-items: center;
	border-top-left-radius: 0.2857142857rem;
	border-top-right-radius: 0.2857142857rem;
	padding: 10px;
	width: 100%;
}

.CriptoHeader .search-input {
	margin-left: auto;
	position: relative;
}

.ListaCripto {
	border: 1px solid black;
	border-radius: 0.2857142857rem;
	background-color: #21605d;
}

table {
	border-collapse: separate;
	text-indent: initial;
	width: 100%;
}

thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}

th {
	height: 4rem;
	font-size: 1.25rem;
	line-height: 1.35;
	position: sticky;
	top: 0;
	padding: 10px;
	background-color: #1b79f5;
	border-top-left-radius: 0.2857142857rem;
	border-top-right-radius: 0.2857142857rem;
	border-bottom: 1px solid rgb(90, 87, 87)
}

tbody tr {
	cursor: pointer;
}

tbody td {
	border-top: none;
	padding: 5px;
}

.theadButton {
	position: relative;
	display: flex;
	align-items: center;
	flex: 1 1 auto;
}

.theadButton button {
	display: flex;
	align-items: center;
	justify-content: center;
	box-sizing: border-box;
	overflow: hidden;
	cursor: pointer;
}

/*FOOTER*/

footer {
	box-sizing: border-box;
	background: #414141;
	padding: 60px 0 30px 0;
	margin: auto;
	overflow: hidden;
}

.contenedor-footer {
	display: flex;
	justify-content: space-evenly;
	width: 90%;
	margin: auto;
	padding-bottom: 50px;
	border-bottom: 1px solid #ccc;
}

.content-footer {
	text-align: center;
}

.content-footer h4 {
	color: white;
	border-bottom: 3px solid #af20d3;
	padding-bottom: 5px;
	margin-bottom: 10px;
}

.content-footer p {
	color: white;
}

.titulo-final {
	color: white;
	text-align: center;
	font-size: 24px;
	margin: 20px 0 0 0;
}